---
import Layoutmenu from "../layout/Layoutmenu.astro";
import ProfileTabs from "../components/ProfileTabs";
import { getSession } from "auth-astro/server";
import { turso } from "../turso";
const session = await getSession(Astro.request);
if (!session) {
    return Astro.redirect("/");
}
const correo = session.user?.email;
const result = await turso.execute({
    sql: "select id from usuarios where correo = ?",
    args: [correo],
});
console.log(result.rows.length > 0);
---

<Layoutmenu>
    <!--//si trabajo con paginas, primer formato hecho 
    <div class="container-fluid">
        <div class="d-grid gap-3 col-8 mx-auto m-3">
            <h3>Mascotas de {session.user?.name}</h3>
            <button class="btn btn-primary btn-lg" type="button"
                ><a class="link-light link-underline" href="/publicar-mascota"
                    >Mis datos</a
                ></button
            >
            <button class="btn btn-primary btn-lg" type="button"
                ><a class="link-light link-underline" href="/publicar-mascota"
                    >Publicar para adoptar</a
                ></button
            >
            <button class="btn btn-primary btn-lg" type="button"
                >Adopciones</button
            >
            <button class="btn btn-primary btn-lg" type="button"
                >Mensajes</button
            >
            <button class="btn btn-primary btn-lg" type="button">
                <a
                    class="link-light link-underline"
                    href="/solicitudes-de-adopcion">Solicitudes de adopción</a
                ></button
            >
        </div>
    </div> -->

    {
        result.rows.length > 0 ? (
            <ProfileTabs client:load userEmail={session.user?.email} />
        ) : (
            //userEmail nombre de la prop que le paso al componente ProfileTabs
            //comp padre astro envia al hijo react
            <div class="alert alert-warning alert-dimissible fade show" role="alert"><strong>Debe registrarse para cargar mascotas o solicitar adopciones</strong><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            
            <div class="container-fluid">
        <div class="card m-0" style="max-height: 80vh; overflow-y: auto;">
            <form action="/api/post" method="POST">
                <h2>Crear Nuevo Usuario</h2>
                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required />
                </div>
                <div>
                    <label for="name">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" required />
                </div>
                <div>
                    <label for="email">Correo:</label>
                    <input type="email" id="correo" name="correo" value={correo} required />
                </div>
                <div>
                    <label for="tel">Telefono:</label>
                    <input type="text" id="telefono" name="telefono" required />
                </div>

                <button type="submit">Guardar Usuario</button>
                
            </form>
            
        </div>
    </div>
        )
    }
</Layoutmenu>
