---
import { Usuarios } from "astro:db";
import { db } from "astro:db";
import Layoutmenu from "../layout/Layoutmenu.astro";

// if (Astro.request.method === "POST") {
//     //nuevosuariio
//     const formData = await Astro.request.formData();
//     const nombre = formData.get("nombre");
//     const apellido = formData.get("apellido");
//     const correo = formData.get("correo");
//     const telefono = parseInt(formData.get("telefono"));

//     console.log({ nombre, apellido, correo, telefono });
//     console.log(typeof telefono);
//     if (
//         typeof nombre === "string" &&
//         typeof apellido === "string" &&
//         typeof correo === "string" &&
//         typeof telefono === "number"
//     ) {
//         await db
//             .insert(Usuarios)
//             .values({ nombre, apellido, correo, telefono });
//     }
// }
---

<Layoutmenu>
    <div class="container-fluid">
        <div class="card m-0" style="max-height: 80vh; overflow-y: auto;">
            <form action="/api/post" method="POST">
                <h2>Crear Nuevo Usuario</h2>
                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required />
                </div>
                <div>
                    <label for="name">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" required />
                </div>
                <div>
                    <label for="email">Correo:</label>
                    <input type="email" id="correo" name="correo" required />
                </div>
                <div>
                    <label for="tel">Telefono:</label>
                    <input type="text" id="telefono" name="telefono" required />
                </div>

                <button type="submit">Guardar Usuario</button>
            </form>
            
        </div>
    </div>
</Layoutmenu>

<style>
    form div {
        margin-bottom: 1rem;
    }
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    input {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #2e2b2b;
        border-radius: 4px;
    }
    button {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
    }
    button:hover {
        background-color: #0056b3;
    }
</style>
