---
import "../../src/styles/global.css";

import { turso } from "../turso";
const { rows } = await turso.execute("select * from usuarios limit 2");

import { SignIn, SignOut } from "auth-astro/components";
import Layoutmenu from "../layout/Layoutmenu.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

console.log(session.user?.email);
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous"
        />

        <title>Astro Basics</title>
    </head>
    <body>
        

        <main>
            <slot />
        </main>
    </body>
</html>
<!-- <Layoutmenu>
    <h1>Autenticar</h1>
    {
        session ? (
            <>
                <p>Hola {session.user?.email}</p>
                <SignOut>cerrar sesion</SignOut>
            </>
        ) : (
            <>
                <SignIn provider="google">iniciar con google</SignIn>
            </>
        )
    }
    <button id="login">Login</button>
    <button id="logout">Logout</button>

    <script>
        const { signIn, signOut } = await import("auth-astro/client");
        document.querySelector("#login").onclick = () => signIn("google");
        document.querySelector("#logout").onclick = () => signOut();
    </script>
</Layoutmenu> -->
