<footer class="footer">
    <a href="/" class="footer-link"><i class="fas fa-home"></i></a>
    <a href="/mascotas/mascota" class="footer-link"
        ><i class="fas fa-search"></i></a
    >
    <a href="#" class="footer-link"><i class="fas fa-plus-square"></i></a>
    <a href="/favoritos" class="footer-link"><i class="fas fa-heart"></i></a>
    <a href="/perfil" class="footer-link"><i class="fas fa-user"></i></a>
</footer>
